{% extends 'base.html.twig' %}

{% block title %}New Membre{% endblock %}

{% block body %}
   <div class="hero">
    <h2>{{pageName}}</h2>
    <section class="cta">
        <div class="cta-headline">
            <h3>Le plaisir des balades en plein air</h3>
        </div>
        <button class="cta-button">Devenir Gardien</button><button class="cta-button">Demander Gardien</button>
        <div class="cta-text">
            <p>Chez <strong>Toulouse AnimalSitter</strong>, les animaux n’ont pas de sentiment d’abandon ou d’ennui.</p>
        </div>
    </section>
</div>

    {{ include('membre/_form.html.twig') }}

    <a href="{{ path('membre_index') }}">back to list</a>
{% endblock %}
