{% extends 'base.html.twig' %}

{% block title %}{{pageName}}{% endblock %}

{% block body %}
<div class="container">
  <div class="hero">
		<h2>{{pageName}}</h2>
		<section class="cta">
			<div class="cta-headline">
				<h3>Le plaisir des balades en plein air</h3>
			</div>
			<button class="cta-button">Devenir Gardien</button><button class="cta-button">Demander Gardien</button>
			<div class="cta-text">
				<p>Chez <strong>Toulouse AnimalSitter</strong>, les animaux n’ont pas de sentiment d’abandon ou d’ennui.</p>
			</div>
		</section>
	</div>

    {# <section class="products">
      <h2>Les dernieres gardes</h2>
        <div class="product-wrapper"> 
          <div class="item">
            <img src="https://images.unsplash.com/photo-1583337130417-3346a1be7dee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="fresh bell peppers">
          <h5>Bolton</h5>
          </div>
          <div class="item">
            <img src="https://images.unsplash.com/photo-1584697931762-9536cb0e55ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="fresh radishes">
            <h5>Bell</h5>
          </div>
          <div class="item">
            <img src="https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="fresh carrots">
            <h5>Baby</h5>
          </div>
          <div class="item">
            <img src="https://images.unsplash.com/photo-1450778869180-41d0601e046e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1150&q=80" alt="fresh blueberries">
            <h5>Peppers</h5>
          </div>
          <div class="item">
            <img src="https://images.unsplash.com/photo-1548546738-8509cb246ed3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="baby eggplant">
            <h5>Ishes</h5>
          </div>
          <div class="item">
            <img src="https://images.unsplash.com/photo-1583275197370-7ac1ff90a21e?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="baby eggplant">
            <h5>Adis</h5>
          </div>
          <div class="item">
            <img src="https://images.unsplash.com/photo-1508948956644-0017e845d797?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=832&q=80" alt="baby eggplant">
            <h5>Rades</h5>
          </div>
          <div class="item">
            <img src="https://images.unsplash.com/photo-1560927259-bd6b1282e387?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="baby eggplant">
            <h5>Angel</h5>
          </div>
          <div class="item">
            <img src="https://images.unsplash.com/photo-1585151723426-d758ccdffdd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="baby eggplant">
            <h5>Radishes</h5>
          </div>
      </div>
    </section>
     <div id="homepage-carousel" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block w-100" src="img/dog-pic1.jpeg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
               <h3>Pet sitting services</h3>
            </div>
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="img/dog-pic2.jpeg" alt="Second slide">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="img/dog-pic3.jpg" alt="Third slide">
            </div>
         </div>
         <a class="carousel-control-prev" href="#homepage-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#homepage-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
         </a>
      </div>
    <footer>©2017 AnimalSitter | CGU </footer> #}

</div>
{% endblock %}