{% extends 'base.html.twig' %}

{% block title %}{{pageName}}{% endblock %}

{% block body %}
<div class="container">
	<div class="hero">
		<h2>{{pageName}}</h2>
		<section class="cta">
			<div class="cta-headline">
				<h3>Le plaisir des balades en plein air</h3>
			</div>
			<button class="cta-button">Devenir Gardien</button><button class="cta-button">Demander Gardien</button>
			<div class="cta-text">
				<p>Chez <strong>Toulouse AnimalSitter</strong>, les animaux n’ont pas de sentiment d’abandon ou d’ennui.</p>
			</div>
		</section>
	</div>
    {# <div class="container-fluid">

      <div id="section1">

        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-3">Welcome to the Groovy PetSitter!</h1>
            <p class="lead">Giving the love and time they deserve.</p>
          </div>
        </div>

        

      </div><!--end of section1-->

      <div id="section2">

        <div class="row">
          <div class="col-sm-12 col-md-1 offset-md-2">
            <img class="img-fluid" id="cat-pic" src="img/cat.png">
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="row">
              <div class="col-sm-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum rhoncus sapien eget malesuada. Phasellus a euismod libero. Sed ut nisi eget erat pharetra porttitor ac vitae dui. Nulla rutrum tellus scelerisque, pretium mauris a, porttitor enim. Phasellus orci quam, pulvinar at feugiat eget, molestie ac dolor. Integer eget dolor rhoncus justo fringilla consequat.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-9">
                <p>Mauris magna lacus, sagittis sit amet neque lacinia, mattis accumsan dui. Nunc et tempus ante. In scelerisque purus felis. Aenean gravida lectus ipsum, a congue arcu finibus et. Mauris gravida nisl in posuere auctor. Nulla rutrum lorem a leo posuere, eget venenatis ipsum imperdiet.</p>
              </div>
              <div class="col-sm-12 col-md-3">
                <img class="img-fluid" src="img/logo.png">
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="btn-wrapper">
              <button type="button" class="btn btn-lg" id="contact-btn">Book Online</button>
            </div>
          </div>
        </div>

      </div><!--end of section2-->

    </div> #}
    <!--end of container-fluid-->



</div>
{% endblock %}