{% extends 'base.html.twig' %}

{% block title %}{{pageName}}{% endblock %}

{% block body %}
<div class="container">
	<div class="hero">
		<h2>{{pageName}}</h2>
		<section class="cta">
			<div class="cta-headline">
				<h3>Le plaisir des balades en plein air</h3>
			</div>
			<button class="cta-button">Devenir Gardien</button><button class="cta-button">Demander Gardien</button>
			<div class="cta-text">
				<p>Chez <strong>Toulouse AnimalSitter</strong>, les animaux n’ont pas de sentiment d’abandon ou d’ennui.</p>
			</div>
		</section>
	</div>
	
{# 
	<h3 class="col-md-12 wt-container-943451" id="wt-container-instance-3479301">
		Les tarifs proposés par Toulouse AnimalSitter
	</h3>
	<article class="col-md-12 wt-container-934168" id="wt-container-instance-3479302">
		<p>Découvrez ci-dessous les tarifs des<strong> prestations</strong> proposées par <strong>Toulouse
				AnimalSitter&nbsp;:</strong></p>
	</article>
	<article class="col-md-12 wt-container-934168" id="wt-container-instance-3479303">
		<table class="table table-hover" width="100%">
			<tbody>
				<tr>
					<td width="50%" bgcolor="#f3bfcc">
						<p align="center"><span style="font-size:22px;"><strong>Forfait</strong></span></p>
					</td>
					<td width="50%" bgcolor="#f3bfcc">
						<p align="center"><span style="font-size:22px;"><strong>Tarif</strong></span></p>
					</td>
				</tr>
				<tr>
					<td width="50%">
						<p align="center">5 balades de 30 minutes/semaine</p>
					</td>
					<td width="50%">
						<p align="center">160 € (soit 8 €/promenade au lieu de 10 €)</p>
					</td>
				</tr>
				<tr>
					<td width="50%">
						<p align="center">3 balades de 30 minutes par semaine</p>
					</td>
					<td width="50%">
						<p align="center">108 € (soit&nbsp;9 €/promenade environ)</p>
					</td>
				</tr>
				<tr>
					<td width="50%">
						<p align="center">5 balades d'une heure/semaine</p>
					</td>
					<td width="50%">
						<p align="center">280 € (<em>s</em>oit&nbsp;14 €/promenade au lieu de 17</p>
					</td>
				</tr>
				<tr>
					<td width="50%">
						<p align="center">3 balades d'une heure par semaine</p>
					</td>
					<td width="50%">
						<p align="center">180 € (soit 15 €/promenade au lieu de 17</p>
					</td>
				</tr>
				<tr>
					<td width="50%" bgcolor="#f3bfcc">
						<p align="center"><span style="font-size:22px;"><strong>Prestation</strong></span></p>
					</td>
					<td width="50%" bgcolor="#f3bfcc">
						<p align="center"><span style="font-size:22px;"><strong>Tarif</strong></span></p>
					</td>
				</tr>
				<tr>
					<td width="50%">
						<p>Pension 1 balade/jour</p>
					</td>
					<td width="50%">
						<p align="center">15 €/jour</p>
					</td>
				</tr>
				<tr>
					<td width="50%">
						<p>Pension 2 balades/jour</p>
					</td>
					<td width="50%">
						<p align="center">20 €/jour</p>
					</td>
				</tr>
				<tr>
					<td width="50%">
						<p>Pension 1 journée (8 h-19 h)</p>
					</td>
					<td width="50%">
						<p align="center">10 €/jour</p>
					</td>
				</tr>
			</tbody>
		</table>
	</article> 
#}
</div>
{% endblock %}